@import "src/style/mixins.scss";

.joke {
  @include displayFlexCenter();
  align-items: stretch;
  gap: 1%;
  width: 90%;
  min-height: 50px;

  .text {
    padding: 5px;
    height: auto;
    width: 90%;
    background-color: antiquewhite;
    @include displayFlexCenter();
    justify-content: flex-start;
  }
}


