@import "src/style/mixins.scss";

.container {
  @include container();
  padding-top: 1%;
  padding-bottom: 1%;
  justify-content: space-between;
  gap: 1%;

  .jokes {
    @include container();
    padding-top: 5%;
    justify-content: flex-start;
    gap: 5%;
    width: 90%;
    height: 90%;

    .item {
      height: auto;
      width: 90%;
      background-color: antiquewhite;
    }
  }

  button {
    @include button();
  }

}


