@import "src/style/mixins";

.container {
  @include container();

  .display {
    @include displayFlexCenter();
    flex-direction: column;
    border: black 2px solid;
    gap: 3px;
    background: antiquewhite;
    height: 80%;
    width: 90%;

    .displayText {
      @include displayFlexCenter();
      flex-direction: column;
      padding: 2%;
      height: 60%;
      width: 90%;
      border: black 2px solid;
      justify-content: space-evenly;
    }
  }

  .buttons {
    @include displayFlexCenter();
    justify-content: space-evenly;
    width: 100%;

  }

  button {
    @include button();
  }

}





