@import "src/style/mixins";

.container {
  @include container();

  .display {
    @include displayFlexCenter();
    flex-direction: column;
    border: black 2px solid;
    gap: 3px;
    background: antiquewhite;
    height: 80%;
    width: 90%;
  }

  .buttons {
    @include displayFlexCenter();
    justify-content: space-evenly;
    width: 100%;
  }

  button {
    @include button();
  }

  .timer {
    @include displayFlexCenter();
    height: 50px;
    width: 50px;
    font-size: 20px;
    font-weight: 600;
  }
}





